body {
  margin: 0;
  background: rgba(255,0,0,0.2); /* solo para ver el área */
}

#container {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  gap: 20px !important;

  background: rgba(0,255,0,0.2); /* debug */
}

#zyra-box {
  width: 150px;
  height: 150px;
  background: blue; /* debug */
}

#card {
  background: black;
  color: white;
  padding: 10px;
}